{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Name</th>
            <th>HOF</th>
            <th>Year Level</th>
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.first_name }}</td>
            <td>{{ row.last_name }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.HOF }}</td>
            <td>{{ row.year_level }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{{ url_for('list_users') }}">Dashboard</a>
{% endblock %}
