{% extends '_layout.html' %}

{% block title %}All Movies{% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Year Released</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
        <tr>
            <td>{{ row.title }}</td>
            <td>{{ row.genre }}</td>
            <td>{{ row.year_released }}</td>
            <td>
                <a href="/borrow_movie?id={{ row.id }}"
                   onclick="return confirm('Borrow the film: {{ row.title }}?')">
                    Borrow
                </a>
            </td>
            <td>
                <a href="https://www.youtube.com/watch?v=j64oZLF443g" target="_blank">
                    Trailer
                </a>
            </td>
            {% if session['role'] == 'admin' %}
            <td>
                <a href="/delete_movie?id={{ row.id }}"
                   onclick="return confirm('Are you sure you wish to delete {{ row.title }}?')">
                    Delete
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
{% if 'logged_in' in session %}
<a href="{{ url_for('view_user_movies') }}">View your Movies</a>
{% endif %}
<br>
<br>
{% if session['role'] == 'admin' %}
<a href="{{ url_for('view_all_user_movies') }}">View EVERYONES Movies</a>
{% endif %}

{% endblock %}
