{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>{{ result[0].first_name }}</h1>
<h3>Movies Watched:</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>HOF</th>
            <th>Year Level</th>
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.HOF }}</td>
            <td>{{ row.year_level }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{{ url_for('list_users') }}">Dashboard</a>
{% endblock %}
