{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>{{ result2.first_name }}</h1>
<h3>Subjects Selected:</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>HOF</th>
            <th>Faculty</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.HOF }}</td>
            <td>{{ row.faculty }}</td>
            <td>
                <a href="/deselect_subject?id={{ row.id }}"
                   onclick="return confirm('Are you sure you wish to remove {{ row.name }} from your selection?')">
                    Remove
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{{ url_for('list_users') }}">Dashboard</a>
{% endblock %}
